.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

lib/

.idea/
*.iws
*.iml
*.ipr
out/

.apt_generated
.classpath
.factorypath
.project
.settings
bin/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

.DS_Store

*.log
*.tmp

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

!src/
frontend/node_modules
